/* 
.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                "one one two two two two"
                "one one two two two two"
                "three three three three four four"
                "three three three three four four"
                "five five  six six six six"
                "five five six six six six"
                ;
                gap: 0.6em;
    padding: 6em 2em;
}
            
            
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    border: 2px solid var(--accent);
    border-radius: var(--b-radius);
    overflow: hidden;
    max-height: 30vh;

}
    .card:nth-child(1) {
        grid-area: one;
    }
    .card:nth-child(2) {
        grid-area: two;
    }
    .card:nth-child(3) {
        grid-area: three;
    }
    .card:nth-child(4) {
        grid-area: four;
    }
    .card:nth-child(5) {
        grid-area: five;
    }
    .card:nth-child(6) { 
        grid-area: six;
    }

.card img {
    object-fit: cover;
    width: 100%;
}

.desc {
    position: absolute;
    bottom: 0px;
    padding: 1em;
    color: var(--accent);
    font-size: 1.4rem;
    border: 0.1em solid var(--secondary);
    border-radius: var(--b-radius);

} */