
.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(18em, 1fr)); */
    grid-template-areas: 
                "one one two two two two"
                "one one two two two two"
                                "one one two two two two"
                "three three three three four four"
                "three three three three four four"
                                "three three three three four four"
                "five five  six six six six"
                "five five six six six six"
                                "five five six six six six"
                ;
    gap: 0.6em;
    padding: 6em 10em;
    
    
}

.cardOne {
    grid-area: one;
}
.cardTwo {
    grid-area: two;
}
.cardThree {
    grid-area: three;
}
.cardFour {
    grid-area: four;
}
.cardFive {
    grid-area: five;
}
.cardSix { 
    grid-area: six;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-height: 62vh;

    border: 1em solid var(--grayish);
    border-radius: var(--b-radius);
    overflow: hidden;
}   


.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.desc {
    position: absolute;
    bottom: 0.4em;
    left: 0.4em;
    padding: 1em;
    color: var(--accent);
    font-size: 1.4rem;
    border: 0.01em solid var(--accent);
    border-radius: var(--b-radius);
}