:root {
  /* < ----- COLORS ----- > */
  --dark: rgb(18, 46, 111);
  --light: whitesmoke;
  --accent: red;
  /* < ----- FIXED VALUES ----- > */
  --b-radius: 4px;
  --bg-color: red;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    border-radius: var(--b-radius);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}

button {
  all: unset;
  color: var(--dark);
  background-color: var(--light);
}

#main {
  background-color: rgb(184, 180, 180);
  height: 100vh;
}

